header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 3rem;
  color: #584bb7;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}
.logo:hover {
  transform: scale(1.1);
}
nav a {
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}
nav a:hover,
nav a.active {
  color: #584bb7;
  border-bottom: 3px solid #584bb7;
}
nav {
  display: flex;
}
.hamburger {
  display: none;
  cursor: pointer;
}
@media (max-width: 995px) {
  nav {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 40%;
    border-left: 3px solid #584bb7;
    padding: 1rem solid;
    background-color: #161616;
  }
  nav.active {
    display: block;
  }
  .hamburger {
    display: block;
    font-size: 2rem;
  }
  nav a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
}
